@import "_mixins";
@import "_variables";
@import "_animations";
   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   body{
       font-family: sans-serif;
       color: $fontColor;
       letter-spacing: .08rem;
   }

button:hover{
  opacity: 1;
}
button:focus{
  outline:none;
}
button:active {
  border:none;
}

.wrapp{
    width: 100%;
    height: 100vh;
    background-color: $background;
    padding: 5em 3em;
    position: relative;
    display: flex;
}
.list{
    @include container;
    height: 100%;
    width: auto;
    // overflow-y: scroll;
    // ::-webkit-scrollbar {
    //     width: 30px;
    //   }
    // ::-webkit-scrollbar-track {
    //     background: #f55858;
    //   }
    // ::-webkit-scrollbar-thumb {
    //     background: rgb(43, 17, 189);
    //   }
  }
  
.list__item {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid $itemBg;
    border-bottom: 1px solid $itemBg;
  }
  .name{
      padding: 0 20px;
      display: flex;
      align-items: center;
      h4{
        font-weight: lighter;
        font-weight: 1rem;
        @include players-info;
        min-width: 250px;
      }
      p{
        @include players-info;
      }
  }
  .lamp {
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    &::before{
      content:'';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: red;
      border-radius: 50%;
      }
  }
  .lamp--prepare{
    border: 2px solid orange;
    animation: preparationLamp 1.5s infinite both;
    &::before{
      background-color: orange;
      }
  }
  .lamp--active{
    border: 2px solid green;
    &::before{
      background-color: green;
      }
  }

  .status{
    display: flex;
    padding: 10px 0;
    width: 100%;
    border-top: none;
    color:gray;
    .name-player{
      @include players-info;
      min-width: 250px;
      margin-left: 20px
    }
    .number-player{
      @include players-info;
    }
  }

  .time-container{
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    min-width: 150px;
  }
  .start{
    margin: 20px 0;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid green;
    color: $fontColor;
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    opacity: .8;
    transition: .2s;
    letter-spacing: 0.07rem;
  }
  .stoper{
    margin: 20px 0;
  }
  .circular{
    width: 140px;
    height: 140px;
    border: 9px solid gray;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    span{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }
  }
  .progress{
    width: 140px;
    height: 140px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include flexCenter;
    svg{
      height: 100%;
      display: block;
    }
  }
