@import "_mixins";
@import "_variables";
@import "_animations";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $fontColor;
  letter-spacing: .08rem;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

button:focus {
  outline: none;
}

button:active {
  border: none;
}

input:active {
  border: none;

}

input:focus {
  border: none;
}

input::selection {
  border: none;
}

.inactive {
  opacity: 1;
  position: relative;
}

.inactive::before {
  content: 'W trakcie wyścigu nie można edytować parametrów';
  position: absolute;
  left: 30px;
  top: 0;
  color: $fontColorDarkest;
  font-size: 16px;
  line-height: 1.2rem;
  @include container;
  width: 120px;
  top: 20px;
  right: 20px;
  z-index: 999;
  border: 1px solid rgba(109, 109, 109, 0.4);
  padding: 10px 20px;
  display: none;
}

.inactive:hover::before {
  display: block;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: $background;
  padding: 3rem 2em;
  @include flex-center;
}

.app__container {
  @include shadowItem;
  position: relative;
  background-color: $bgContent;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center
}

.players-container {
  @include shadowItem;
  background-color: $bgContent;
  position: relative;
  width: auto;
  max-width: 460px;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

//settings
.settings-panel {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 20px 20px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
  p {
    color: gray;
    margin-left: 20px
  }
}
.colose-player-container {
  font-size: 38px;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 999;
  display: none;
  opacity: .8;
}

.colose-player-container:hover {
  opacity: 1;
}

.settings {
  position: relative;

  ion-icon {
    font-size: 38px;
    color: $fontColor;
    @include flex-center;
  }
}

.open-settings {
  @include container;
  opacity: .8;
  border-radius: 12px;
  border: 1px solid rgb(65, 65, 65);
  color: $fontColor;
  background-color: $loadBg;
  padding: 12px 20px;
  cursor: pointer;
}

.reset-settings {
  @include btnToDoList;
  background-color: $loadBg;
}

.reset-settings:hover {
  opacity: 1;
}

.settings-container {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 370px;
  height: 250px;
  top: 80px;
  left: 60px;
  z-index: 999;
  @include container;
  padding: 20px;

  ion-icon {
    align-self: flex-start;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 15px;
    opacity: .8;
    cursor: pointer;
    font-size: 30px;
  }

  ion-icon:hover {
    opacity: 1;
  }

  .settings-element {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    justify-content: space-between;
    border-top: 1px solid $itemBg;
    border-bottom: 1px solid $itemBg;
    color: $fontColorDark;

    input {
      background-color: $fontColor;
      border: none;
      font-size: 14px;
      padding: 5px;
      width: 120px;
      border-radius: 3px;
    }
  }
}


//load file
#file-upload-form {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.file-upload {
  width: 50%;
}

.file-upload label {
  font-size: 14px;
  font-weight: lighter;
  color: gray
}

.file-button {
  margin-top: 10px;
  // @include container;
  background: $loadBg;
  outline: none;
  cursor: pointer;
  color: $fontColorDarkest;
  border-radius: 50px;
  border: 1px solid $background;
}

::-webkit-file-upload-button {
  color: $fontColor;
  background: #3a3a3a;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 2px 0px 2px -1px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 0px 2px -1px rgba(0, 0, 0, 0.8);
  border-radius: 0 50px 50px 0;
  outline: none;
  opacity: 1;
  color: $fontColorDark;
}

::-webkit-file-upload-button:hover {
  opacity: .8;
}

.reset-list {
  @include btnToDoList;
}

//to do form
#to-do-player-list {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px;
  margin: 25px 0 10px;

  .form-inputs {
    display: flex;
  }

  label {
    font-size: 14px;
    font-weight: lighter;
    color: gray
  }

  input {
    @include shadowLoad;
    border-radius: 5px;
    padding: 10px;
    background-color: $containerBg;
    border: 1px solid $itemBg;
    margin-top: 8px;
    box-shadow: none;
    margin-right: 10px;
    color: $fontColor;
    @include shadowLoad;

    input:active {
      border: 1px solid grey;
    }
  }

  #nr-player {
    max-width: 60px;
  }

  .add-to-list {
    @include btnToDoList;
  }

  .add-to-list:hover {
    opacity: 1;
  }
}

//description list player
.list__item-desc {
  display: flex;
  padding: 20px 50px;
  width: 100%;
  color: $itemBg;

  .name-player-desc {
    @include players-desc;
    width: 187.9px;
  }

  .name-player-desc,
  .number-player-desc,
  .status-player-desc {
    line-height: 10px;
  }

  .number-player-desc,
  .status-player-desc {
    @include players-desc;
    min-width: 60px;
    text-align: center;
  }

  .status-player-desc {
    border-right: none;
    padding-left: 20px;
  }
}

//player list content
.list-container {
  overflow-y: scroll;
  margin: 0 20px;
  padding: 5px 20px;
  border-radius: 7px;
  max-height: 470px;
  min-height: 60px;
  -webkit-box-shadow: inset 0px 0px 6px -1px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 0px 6px -1px rgba(0, 0, 0, 0.9);

  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
}

.player-item {
  padding: 10px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  color: $fontColorDark;
  border-bottom: 1px solid $border;

  h5 {
    font-weight: lighter;
    font-size: .9rem;
    @include players-desc;
    width: 260px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      opacity: 0;
      height: 0
    }
  }

  p {
    @include players-desc;
    min-width: 60px;
    text-align: center;
    font-size: .9rem;
  }

  ion-icon {
    border-left: 1px solid $border;
    padding: 10px 5px 10px 20px;
    color: $fontColorDark;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.player-item:last-child {
  border-bottom: none;
}

.lamp {
  width: 60px;
  height: 40px;
  box-sizing: content-box;
  padding: 10px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    border-radius: 50%;
  }
}

.lamp--prepare {
  animation: preparationLamp 1.5s infinite both;

  &::after {
    border: 2px solid orange;
  }

  &::before {
    background-color: orange;
  }
}

.lamp--active {
  &::after {
    border: 2px solid green;
  }

  &::before {
    background-color: green;
  }
}

//counting-down-container

.counting-down-container {
  // @include container;
  @include flex-center;
  @include shadowItem;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 650px;
  min-width: 300px;
  margin-left: 40px;
  padding: 20px 30px;
}

.circular-container {
  width: 100%;
  @include flex-center;
  @include shadowItem;
  padding: 40px;
  background-color: $containerBg;
}

.circular {
  width: 250px;
  height: 250px;
  border: 13px solid gray;
  border-radius: 50%;
  position: relative;
  display: inline-block;

  .span-start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: $fontColor;
    user-select: none;
    font-weight: 600;
  }

  .span-start--active {
    font-size: 55px;
  }
}

.progress {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include flexCenter;

  svg {
    height: 100%;
    display: block;
  }
}

.player-status-container {
  width: 100%;
}

.status-container {
  padding: 15px 20px 15px;
  @include shadowItem;
  margin-top: 20px;
  width: 100%;
  border: 1px solid $itemDark;
  background-color: $containerBg;
}

.title-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 0 10px;

  ion-icon {
    color: gray;
    font-size: 28px;
    margin-right: 10px;
  }
}

.title-name {
  font-size: 18px;
  font-weight: lighter;
  color: $fontColorDarkest;
}

.player-status {
  @include txt-place;
  color: grey;
  height: 70px;
  // margin-top: 15px;
  overflow-x: hidden;
  @include flex-center;
}

.load {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.active-player-name,
.next-player-name {
  font-size: 26px;
}

.active-player-name {
  color: orange;
  opacity: 0;
  animation: preparationLamp 2s infinite both;
}

.active-player-name--start {
  color: green;
}

.info-about-start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $fontColor;
  opacity: 0;
}

.info-about-start--active {
  animation: activeName 0s linear both;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30px;
  display: none;
}

.lds-ellipsis--active {
  display: inline-block;
}

.lds-ellipsis div {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $fontColorDark;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

//control panel
.control-panel {
  padding: 30px 0;
  height: 100%;
  width: 300px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.logo {
  width: 180px;
  max-width: 180px;
  max-height: 80px;
  margin-bottom: 30px;

  img {
    width: 100%;
    object-fit: cover
  }
}

.clock {
  @include shadowLoad;
  @include container;
  width: 100%;
  padding: 20px;
  border: 1px solid $border;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;

  h2 {
    font-size: 38px;
    user-select: none;
  }
}



.status-timer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.status-timer-container {
  padding: 10px;
  width: 100%;
  @include shadowItem;
  border: 1px solid $itemDark;
  background-color: $containerBg;
  margin-top: 20px;
  border-radius: 7px;
}

.title-status-timer {
  font-size: 14px;
  color: $fontColorDarkest;
  line-height: 1.2rem;
  padding: 0 5px 10px;
}

.item-status-timer {
  -webkit-box-shadow: inset 0px 0px 6px -2px #000000;
  box-shadow: inset 0px 0px 6px -2px #000000;
  @include flex-center;
  width: 100%;
  border: 1px solid $itemDark;
  border-radius: 5px;
  min-height: 65px;
  margin-right: 15px;
  font-size: 17px;
  background-color: $bgContent;
}

.item-status-timer--big {
  font-size: 26px;
}

.countdown-time {
  font-size: 26px;
}

.select-time {
  color: orange;
  font-weight: 800;
  // font-weight: bold !important;
}

.start,
.restart {
  @include btnRacing;
  display: block;
  margin: 50px auto;
  font-size: 20px;
}

.start-disable {
  display: none;
}

.restart-disable {
  display: none;
}

.info-popup {
  position: absolute;
  top: 30%;
  left: 20%;
  text-align: center;
  color: white;
  padding: 35px 50px;
  border-radius: 10px;
  border: 1px solid $fontColorDark;
  background-color: $containerBg;
  @include shadowLoad;
  @include shadowItem;
  line-height: 1.6rem;
  display: none;
}

.info-popup--active {
  display: block;
}

.accept {
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid $fontColorDarkest;
  margin-top: 20px;
  background-color: $itemBg;
  color: white;
  opacity: .8;
}

//mobile
.mobile-icons {
  margin-bottom: 40px;
  padding: 10px 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}


@media screen and (max-width:1600px) {
  .players-container {
    max-width: 440px;
  }

  ::-webkit-file-upload-button {
    padding: 10px;
  }

  .counting-down-container {
    margin-left: 20px;
    padding: 20px;
  }

  .control-panel {
    width: 300px;
    margin-left: 20px;
  }
}

//flex direction column
@media screen and (max-width:1540px) {
  .app {
    height: 100vh;
    padding: 30px 20px;
  }

  .app__container {
    display: flex;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    padding:40px;
  }

  .circular-container {
    padding: 40px;
  }

  .status-container {
    padding: 10px 20px 15px;
  }

  .settings-panel {
    padding: 20px 0 30px;
  }

  .colose-player-container {
    display: inline;
  }

  .logo {
    margin-bottom: 10px;
  }
  .clock {
    margin-bottom: 10px;
  }

  .start,
  .restart {
    margin: 30px;
  }

  .counting-down-container {
    width: 750px;
    padding: 20px;
    margin: 0;
  }

  .control-panel {
    height: 100%;
    margin-left: 30px;
    padding: 0;
  }

  .players-container {
    position: absolute;
    left: 50%;
    max-width: 500px;
    min-width: 500px;
    width: 600px;
    max-height: 660px;
    z-index: 100;
    display: none;
    transform: translateX(-50%);
  }

  .players-container--active {
    display: flex;
  }
  .settings-container {
    top: 80px;
    left: 40%;
  }
  .mobile-icons {
    display: flex;
    margin-bottom: 20px
  }
  .open-settings,
  .mobile-player-lis,
  .reset-settings {
    @include settings-btn;
    padding: 12px 20px;
    margin: 0 5px;
    ion-icon {
      font-size: 28px;
    }
  }
  .open-settings-desktop,
  .reset-settings-desktop {
    display: none;
  }
  .reset-settings {
    width: auto;
    height: 100%;
  }
  .list__item-desc {
    .name-player-desc {
      width: 217.73px;
    }
    .number-player-desc{
      min-width: 60px;
    }
  }
}

@media screen and (max-width:1200px) {
  .app__container {
    padding: 20px;
  }
  .control-panel {
    margin-left: 20px;
    width: 280px;
  }
  .counting-down-container {
    width: 650px;
  }
}

@media screen and (max-width:1050px) {
  .counting-down-container {
    width: 600px;
  }
  .control-panel {
    width: 260px;
  }
}

@media screen and (max-width:950px) {
  .app {
    height: auto;
    min-height: 100vh;
    padding: 0;
    background-color: #212121;
  }

  .app__container {
    flex-direction: column-reverse;
    height: 100%;
    padding: 20px 20px 40px;
    border-radius: 0;
    box-shadow: none;
  }

  .control-panel {
    flex-direction: row;
    align-items: flex-end;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 80px 0 20px;
    position: static;
  }

  .counting-down-container {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 100px;
    width: 700px;
  }

  .circular-container {
    padding: 20px;
  }

  .circular {
    width: 230px;
    height: 230px;
  }

  .progress {
    width: 230px;
    height: 230px;
  }

  .status-container {
    padding: 15px;
  }

  .player-status {
    height: 60px;
  }

  .mobile-icons {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
    padding: 20px 15px;
    max-width: 300px;
    box-shadow: none;
  }

  .start,
  .restart {
    position: absolute;
    margin: 40px 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo {
    max-width: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
    // display: none;
  }

  .clock {
    width: auto;
    padding: 26px;
    border: 1px solid $border;
    border-radius: 10px;
    margin: 0;
    text-align: center;

    h2 {
      font-size: 30px;
      user-select: none;
    }
  }

  .status-timer {
    flex-direction: row;
    justify-content: flex-end;
  }

  .status-timer-container {
    padding: 2px;
    margin-top: 0;
  }

  .title-status-timer {
    font-size: 12px;
    padding: 10px 5px;
  }

  .status-timer-container {
    margin-left: 20px;
  }

  .item-status-timer {
    min-height: 40px;
    margin-top: 0;
    padding: 6px 0;
  }
}

@media screen and (max-width:750px) {
  .counting-down-container {
    width: 600px;
  }

  .status-timer-container {
    margin-left: 15px;
  }

  .item-status-timer {
    font-size: 12px;
  }

  .title-status-timer {
    padding: 5px;
  }

  .clock {
    padding: 18px;
  }
}

@media screen and (max-width:648px) {
  .app__container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    height: auto;
  }

  .counting-down-container {
    width: 100%;
  }

  .status-container {
    padding: 10px;
  }

  .player-status {
    height: 50px;
    padding: 5px 10px;
  }

  .control-panel {
    flex-direction: column;
    margin-top: 100px;
  }

  .clock {
    align-self: flex-end;
    margin-bottom: 15px;
    padding: 12px;
  }

  .status-timer-container:first-child {
    margin-left: 0;
  }

  .item-status-timer--big {
    font-size: 20px;
  }

  .countdown-time {
    font-size: 20px;
  }
}
@media screen and (max-width:548px) {
  .settings-container {
    width: 320px;
    height: 220px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    label {
      font-size: 14px;
    }
  }
  .players-container {
    max-width: 400px;
    min-width: 300px;
    width: 400px;
    top: 100px;
    max-height: 600px;
    z-index: 100;
    display: none;
    transform: translateX(-50%);
  }
  .settings-panel{
    margin-bottom: 20px;
    padding: 15px 20px;
  }
  .colose-player-container {
    left: 10px;
    top: 5px;
  }
  #to-do-player-list {
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0 0;
    label {
      font-size: 12px;
    }
    .add-to-list {
     margin-left: 0;
     margin-top: 10px;
    }
  }
  #file-upload-form {
    flex-direction: column;
    align-items: flex-start;
  }
  .file-upload {
    width: 100%;
  }
  .file-upload label {
    font-size: 12px;
  }
  .reset-list {
    margin-left: 0;
    margin-top: 15px;
  }
  .list__item-desc {
    margin-top: 10px;
    padding: 10px 25px;
    font-size: 14px;
    .name-player-desc {
      width: 133.09px;
    }
    .number-player-desc{
      min-width: 50px;
    }
  }
  .player-item {
    height: 60px;
    padding: 10px 5px;
    h5 {
      font-size: .8rem;
    }
    p {
      @include players-desc;
      min-width: 50px;
      font-size: .8rem;
    }
    ion-icon {
      padding: 5px 5px 5px 15px;
      font-size: 30px;
    }
  }
  .lamp {
    &::before {
      width: 12px;
      height: 12px;
    }
    &::after {
      width: 22px;
      height: 22px;
    }
  }
}

@media screen and (max-width:420px) {
  .title-status-timer {
    font-size: 11px;
    padding: 0px 3px;
  }

  .item-status-timer {
    min-height: 30px;
    height: 30px;
    padding: 4px;
    font-size: 11px;
    border-radius: 5px;
  }

  .counting-down-container {
    margin-bottom: 70px;
  }

  .circular-container {
    padding: 12px;
  }

  .circular {
    width: 140px;
    height: 140px;
    border: 8px solid gray;

    .span-start {
      font-size: 44px;
    }

    .span-start--active {
      font-size: 32px;
    }
  }

  .progress {
    width: 140px;
    height: 140px;
  }

  .status-container {
    margin-top: 10px;
    padding: 5px;
  }

  .player-status {
    height: 35px;
    padding: 3px 7px;

    h4 {
      font-size: 16px;
    }
  }

  .title-name-container {
    padding: 0 4px 4px;

    ion-icon {
      color: gray;
      font-size: 14px;
      margin-right: 10px;
    }
  }

  .title-name {
    font-size: 12px;
  }

  .mobile-icons {
    max-width: 220px;
  }
  .open-settings,
  .mobile-player-lis,
  .reset-settings {
    @include settings-btn;
    padding: 10px 15px;
    margin: 0;

    ion-icon {
      font-size: 24px;
    }
  }
  .control-panel {
    margin: 65px 0 10px;
  }
  .clock {
    padding: 10px;

    h2 {
      font-size: 22px;
    }
  }
  .start,
  .restart {
    width: 120px;
    margin: 30px auto;
    padding: 10px 20px;
  }

  .players-container {
    max-width: 330px;
    min-width: 320px;
    width: 350px;
    max-height: 600px;
    top: 10px;
    padding: 15px 0 15px;
  }
  .list-container {
    margin: 0 12px;
    padding: 5px 8px;
  }

}
@media screen and (max-width:320px) {
.logo {
  max-width: 80px;
}
}


//display elements js
.display-container {
  display: flex;
}

.remove-display {
  display: none;
}