@import "_variables";
@mixin container{
    -webkit-box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.43);
    box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.43);
    background-color: $containerBg;
    border-radius: 20px;
}
@mixin shadowItem{
    // background-color: rgb(59, 59, 59);
    border-radius: 12px;
    // background-color: rgb(39, 39, 39);
    // background-color: rgb(251, 251, 251);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.6);
}
@mixin shadowLoad{
    -webkit-box-shadow: inset 0px 0px 15px -4px #000000; 
    box-shadow: inset 0px 0px 15px -4px #000000;
}
@mixin shadowLamp{
    -webkit-box-shadow: -6px 0px 15px 0px rgba(0, 0, 0, 0.42);
    box-shadow: -6px 0px 15px 0px rgba(0, 0, 0, 0.42);
}
@mixin players-desc{
    padding: 10px 0;
    border-right: 1px solid $itemBg;
}
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin btnRacing{
    width: 160px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid green;
    color: $fontColor;
    font-size: 24px;
    padding:12px 20px;
    border-radius: 50px;
    opacity: .8;
    transition: .2s;
    letter-spacing: 0.07rem;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin btn-list{
    background: transparent;
    border: none;
    border: 1px solid $fontColorDark;
    border-radius: 7px;
    padding: 10px 20px;
    opacity: .8;
}
@mixin txt-place{
    -webkit-box-shadow: inset 0px 3px 6px -4px #000;
    box-shadow: inset 0px 3px 6px -4px #000;
    border: 1px solid $itemBg;
    padding:10px 20px;
    width: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}