//colors
$background:#131313;
$fontColorDark: rgb(179, 179, 179);
$fontColor: rgb(230, 230, 230);
$fontColorDarkest: rgb(143, 143, 143);
$containerBg: #1f1f1f;
$itemBg: #464646;
$loadBg: rgb(39, 39, 39);
$blue: #00d9f6;
$itemDark: #272727;

