* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $fontColor;
  letter-spacing: .08rem;
}

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  opacity: .8;
  color: $fontColor;
}

button:hover {
  opacity: 1;
}

button:focus {
  outline: none;
}

button:active {
  border: none;
}

.inactive {
  opacity: 1;
  position: relative;
}

.inactive::before {
  content: 'W trakcie wyścigu nie można edytować parametrów';
  position: absolute;
  left: 30px;
  top: 0;
  color: $fontColorDarkest;
  font-size: 16px;
  line-height: 1.2rem;
  @include container;
  width: 120px;
  top: 20px;
  right: 20px;
  z-index: 999;
  border: 1px solid rgba(109, 109, 109, 0.4);
  padding: 10px 20px;
  display: none;
}

.inactive:hover::before {
  display: block;
}

.info-popup {
  position: absolute;
  top: 30%;
  left: 20%;
  text-align: center;
  padding: 35px 50px;
  border-radius: 10px;
  border: 1px solid $fontColorDark;
  background-color: $contentPlace;
  @include shadowItem;
  line-height: 1.6rem;
  display: none;
}

.info-popup--active {
  display: block;
}

.accept {
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid $fontColorDarkest;
  margin-top: 20px;
  background-color: $itemBg;
  color: $fontColor;
}

//display elements js
.display-container {
  display: flex;
}