//colors
$background:#292929;
$bgContainer:#232323;
$bgContent:#222222;
$fontColorDark: rgb(179, 179, 179);
$fontColor: rgb(230, 230, 230);
$fontColorDarkest: rgb(143, 143, 143);
$contentPlace: #212121;
$itemBg: #464646;
$loadBg: rgb(39, 39, 39);
$blue: #00d9f6;
$itemDark: #272727;
$border: #383838;
$txtPlace:#252525;