//colors
$background:#181717;
$bgContainer:#222222;
$bgContent:#222222;
$fontColorDark: rgb(179, 179, 179);
$fontColor: rgb(230, 230, 230);
$fontColorDarkest: rgb(143, 143, 143);
$contentPlace: #1f1f1f;
$itemBg: #464646;
$loadBg: rgb(39, 39, 39);
$blue: #00d9f6;
$itemDark: #272727;
$border: #383838;
$txtPlace:#252525;
$borderSettingsBtn: rgb(65, 65, 65);